@font-face {
    font-family: 'Pangram';
    src: url('Pangram-CompressedExtrabold.ttf');
    src: local('Pangram CompressedExtraBold'), local('Pangram-CompressedExtraBold'),
        url('Pangram-CompressedExtrabold.woff') format('woff'),
        url('Pangram-CompressedExtrabold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

